{% extends 'myapp/base.html' %}
{% block content %}
<style>
    /* Additional styling */
    .card {
        font-family: Arial, sans-serif; /* Change font family */
    }

    .card-body {
        background-color: #f8f9fa; /* Change background color */
    }

    .card-title {
        color: #343a40; /* Change title color */
    }
</style>

<div class="container py-5">
    <div class="card bg-gradient bg-success">
        <div class="card-body">
            <h2 class="my-3 text-center text-light bg-dark card-title">Bus Reservation System</h2>
            <p class="text-center text-muted">Welcome to our bus reservation system. Book your seats now!</p>
        </div>
    </div>
</div>
{% endblock %}
